<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <h1>Your Shopping Cart</h1> 
            <!-- Cart content will be displayed here -->
            <p>Cart is empty.</p>
        </main>
        <%- include('../includes/end.ejs') %>